
.expandido {
    max-height: 500px !important; 
    padding-bottom: 20px; 
}

.card-curso{

    display:flex;
    flex-direction: column;

    width:100%;
    height:auto;

    padding:10px;

    background-color:#79735E;
    transition: max-height 1s;

    border-radius:10px;
    border:1px #000 solid;

    >h3{

        font-size:20px;
        color:#fff !important;
    }

    >p{

        font-size:16px;
        margin-bottom:10px;

        span{

            text-decoration: underline;
        }
    }

    >button{

        align-self:flex-end;

        max-width:150px;
        height:40px;

        margin-bottom:20px;
        padding:10px;

        border:1px solid #fff;
        border-radius: 5px;

        background-color: #DECF9B;
        color:#79735E;
        font-size:16px;
    }
}

@media(max-width:768px){

    .card-curso{

        h3{

            font-size:16px !important;
        }

        p{

            font-size:14px !important;
        }

        button{

            font-size:14px;
            padding:5px;
            height:30px;
        }
    }
}

