@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{

  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family: "Montserrat", sans-serif;
  font-weight:600;
  font-optical-sizing: auto;
  color:#fff;
}

a,button,select{

  cursor:pointer;
}